body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{

    margin: 10vh 30vw;
    background-color: #beb3b3;
    border-radius: 800px;
    
}
li::marker {
    content: '🐱‍👤';
    font-size: 30px;
    
}
ul{
    list-style-position: inside ;
    text-align: center;
}
a{
    font-size: 20px;
    color:red;
    text-align: center;
}